/* Header */

.header {
    margin: 64px 164px 54px 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1111px;
}
.menu {
    margin-left: 42px;
}

/* Hero Section */

.heroSection {
    width: 1110px;
    height: 600px;
    background: url("/Home Image/2_hero_section.svg");
    display: flex;
    align-items: flex-end;
    margin-bottom: 149px;
}

.caixinhaDoHero {
    width: 445px;
    height: 357px;
    background: #FAFAFA;
}

.heroText {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
    width: 390px;
    height: 200px;
    padding: 56px 28px 53px 27px;
}

.buttonDoHero {
    /* caixa do botão e a seta */
    background: #203A4C;
    width: 200px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonHero {
    /* botão só do link */
    text-align: center;
    color: #FFFFFF;
    background: #203A4C;
    padding: 0px 33px;
}

/* SOBRE MIM SECTION */

.sobreSection {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    height: 601px;
    margin-bottom: 150px;
}

.caixaDoTextDoSobre {
    width: 430px;
    height: 502px;
}

.linha {
    width: 430px;
    height: 1px;
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
    margin-bottom: 51px;
}

.textDoSobre {
    height: 42px;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-bottom: 28px;
}

.descricao {
    height: 360px;
    line-height: 30px;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 24px;
}

.buttonPortifolio {
    color: #33323D;
    padding: 17px 28px 17px 28px;
    border: 1px solid #33323D;
    display: inline-block;
    margin: 0px 0px 46px 113px;
}

/* CONTATO SECTION */

.contatoSection {
    width: 1110px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.textDoContato {
    height: 84px;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    width: 367px;
    height: 84px;
}

.buttonContato {
    color: #33323D;
    border: 1px solid #33323D;
    box-sizing: border-box;
    transform: rotate(0.12deg);
    display: inline-block;
    padding: 17.11px 50.04px;
}

/* FOOTER SECTION */

.footer {
    width: 1440px;
    height: 80px;
    background: #33323D;
    display: flex;
    align-items: center;
}

.menuFooter {
    width: 309px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    margin-right: 588px;
}

.imgFooter {
    margin-left: 165px;
    margin-right: 48px;
}